@import "../css/base.scss";

.zmiti-index-main-ui {
    z-index: 1119;
    background: #000;
    .zmiti-hand{
        &.active{
            @include animation(hand 1s 6 );
        }
    }

    @-webkit-keyframes hand{
        to{
            transform:translate(60px,0);
        }
    }
    .zmiti-tip{
        @include pos(a);
        top: 650px;
        width: 300px;
        left: 50%;
        margin-left: -150px;;
        &.tip-enter-active,
        &.tip-leave-active {
            @include transition(0.4s);
        }

        &.tip-leave-to,
        &.tip-enter {
            opacity: 0;
        }
    }
    .candle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 150px;
        z-index: 1003;
        &.candle-enter-active,
        &.candle-leave-active {
            @include transition(0.4s);
        }

        &.candle-leave-to,
        &.candle-enter {
            opacity: 0;
            //@include transform(translateY(400px));
        }

        .zmiti-candle-body {
            width: 150px;
        }
    }

    /* 火焰 */
    .candle-flame {
        @include animation(flicker 3s infinite ease-out alternate);

        background-image: -webkit-radial-gradient(ellipse at 5px 20px, rgba(75, 95, 124, 0), hsla(0, 0%, 100%, 0.5), #fff);
        background-image: radial-gradient(ellipse at 5px 20px, rgba(75, 95, 124, 0), hsla(0, 0%, 100%, 0.5), #fff);
        border-radius: 37% 37% 34% 34%/70% 70% 33% 33%;
        box-shadow: 0 -8px 8px 4px #fff, 0 -15px 15px 12px #ff0, 0 -15px 0 14px #f00;
        width: 40px;
        height: 80px;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        top: -24px;
        margin: auto;
        transform-origin: center bottom;
        filter: blur(3px);
    }
    .zmiti-share-page{
        z-index: 99;
        opacity:0;
        top: 0;
        position: fixed !important;
        &.hideShadow{
            &::before{
                display:none;
            }
        }
        &.active{
            @include transition(.5s .5s);
            opacity:1;
             .lt-full {
                @include animation(opacity 3s .6s linear forwards);
             }
             &::before{
                @include animation(light 4s .6s linear forwards);
             }
        }
        &:before {
            content: '';
            @include pos(f);
            width: 100%;
            height: 100%;

            z-index: 10001;


            background: rgba(0, 0, 0, 0.9);

            background-image: -webkit-radial-gradient(rgba(225, 225, 225, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));

            
        }
        .lt-full{   
            opacity:0;
            z-index:101;
            img{
                width: auto;
                height: 100%;
                @include pos(a);
                left:50%;
                top: 50%;
                @include transform(translate(-50%,-50%));

            }
        }

        .zmiti-share-title{
             width: 240px;
             top: 10vh;
             left: 100px;
             @include pos(a);
        }
        .zmiti-share-text{
            @include pos(a);
            width: 400px;
            right: 20px;
            top: 23vh;

        }
        .zmiti-share-audio{
            @include pos(a);
            width: 70px;
            top: 200px;
            right: 100px;

        }
        .zmiti-qrcode{
            @include pos(a);
            right: 20px;
            bottom:20px;
        }
        .zmiti-share-pv{
            color:#643013;
            font-weight: bold;
            @include pos(a);
            bottom:40px;
            left: 40px;
            font-size:34px;
            z-index: 10;;
            span{
                font-family: Georgia;
                font-size:50px;
            }
        }
    }

    @-webkit-keyframes light {
        80% {
           @include transform(translate3d(0, 0, 10px) scale(10));
           
        }
        100%{
            @include transform(translate3d(0, 0, 10px) scale(10));
            opacity: 0;
        }
    }
    @-webkit-keyframes opacity {
        to {
            opacity: 1;
        }
    }
    .out .candle-flame {
        display: none;
    }

    @-webkit-keyframes flicker {
        0% {
            transform: scale(1);
        }

        20% {
            transform: scale(1.1, 0.9) rotate(3deg);
        }

        50% {
            transform: scale(1, 1.2);
        }

        80% {
            transform: scale(0.9, 1.1) rotate(-3deg);
        }

        100% {
            transform: scale(1);
        }
    }

   .zmiti-createimg{
       background: #d1b17a;
      
       @include transformOrigin(center 30%);
       z-index: 1200;
       height: auto;
       padding-bottom: 30px;
       @include transform(scale(1));
       left: 15%;
       top: 12%;
       border:1px solid rgba(96, 43, 14, .1);
       text-align: center;
        &.createimg-enter-active{
            @include transition(.4s);
        }

        &.createimg-leave-to,
        &.createimg-enter {
            width: 750px;
            height: 1000px;
            @include transform(scale(1.1));
            //@include transform(translateY(400px));
        }

        .zmiti-create-tip{
            @include pos(a);
            width: 30px;
            bottom: 0;
            left: 100%;
            color:#fff;
            font-size:24px;
        }

       &>div{
           @include displayBox(horizontal);
           
           &>div{
               width: 200px;
               margin: 0 20px;
               height: 70px;
               line-height: 70px;
               font-size:26px;
               &:nth-of-type(1){
                   background:#fff;
               }
               &:nth-of-type(2) {
                   background:-webkit-linear-gradient(top, #c08b6b, #7c3f24);
                   color:#fff;
               }
           }
       }

       .zmiti-img{
           @include transform(scale(.96));
           @include pos(r);
           box-shadow: 0 0 10px rgba(96, 43, 14, .7) ;
           
       }

       img{
           @include pos(r);
           z-index: 11;
       }
   }

    .out .candle-smoke {
        animation: smokeOut 30s both;
    }

    @-webkit-keyframes smokeOut {
        10% {
            opacity: 1;
        }

        0%,
        100% {
            opacity: 0;
        }
    }

    .candle-smoke {
        position: absolute;
        left: 50%;
        top: -15px;
        transform-origin: bottom center;
        transform: scale(0.5);
        filter: blur(3px);
        opacity: 0;
    }

    .out .candle-smoke {
        animation: smokeOut 30s both;
    }

    @-webkit-keyframes smokeOut {
        10% {
            opacity: 1;
        }

        0%,
        100% {
            opacity: 0;
        }
    }
}

.zmiti-time {
    @include pos(a);

    width: 680px;
    bottom: 160px;
    left: 35px;
}

.zmiti-match {
    width: 300px;

    &.transition{
        @include transition(1.4s);
    }
    &.match-enter-active,
    &.match-leave-active {
        @include transition(0.4s .4s);
    }

    &.match-leave-to,
    &.match-enter {
        opacity: 0;
    }
    @include pos(a);

    z-index: 101;
    left: 100px;

    img {
        pointer-events: none;
    }

    .candle-flame {
        width: 0px;
        height: 0px;
        bottom: -90%;
        left: -85%;
        right: 0;
        opacity: 0;

        &.active {
            @include transition(0.4s 0.1s);

            opacity: 1;
            width: 30px;
            height: 60px;

            @include transform(scale(1));
        }
    }
}

.zmiti-canvas {
    @include pos(a);

    left: 0;
    top: 0;
    z-index: 100;
}

.zmiti-index-icon {
    @include transform3d;

    div {
        @include pos(a);

        width: 100px;
        height: 100px;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -50px;

        /*  */
        img {
            //@include animation(rotateY1 8s linear infinite);
       
        }
    }

    @include animation(rotateY 2s linear infinite);
}

@-webkit-keyframes rotateY {
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@-webkit-keyframes rotateY1 {
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

.zmiti-index-ui {
    width: 420px;
    height: 300px;

    @include pos(a);

    left: 50%;
    top: 50%;
    margin: 0px 0 0 -210px;

    &.loading-enter-active,
    &.loading-leave-active {
        @include transition(0.4s 0.2s);
    }

    &.loading-leave-to,
    &.loading-enter {
        opacity: 0;
    }

    .zmiti-progress {
        color: #fff;
        text-align: center;
        margin: 20px 0;
        font-family: Georgia;
        font-size: 40px;
    }
}
 
.zmiti-logo {
    @include pos(a);

    width: 500px;
    bottom: 40px;
    left: 50%;
    margin-left: -250px;
}
  
 @media all and (max-height:1109px){
     .zmiti-index-main-ui{
         .zmiti-createimg{
             //height: 120vh;
         }
     }
 }