@import "../css/base.scss";

.zmiti-loading1 {
    z-index: 12100;
    background: #000;
}
@at-root.zmiti-fm {
    @include pos(a);
    width: 100px;
    left: 50px;
    top: 50px;
    z-index: 1004;
}

.zmiti-loading-icon {
    @include transform3d;

    div {
        @include pos(a);

        width: 100px;
        height: 100px;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -50px;

        /*  */
        img {
            //@include animation(rotateY1 8s linear infinite);
        }
    }

    @include animation(rotateY 2s linear infinite);
}

@-webkit-keyframes rotateY {
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@-webkit-keyframes rotateY1 {
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

.zmiti-loading-ui {
    width: 420px;
    height: 300px;

    @include pos(a);

    left: 50%;
    top: 40%;
    margin: 0px 0 0 -210px;

    &.loading-enter-active,
    &.loading-leave-active {
        @include transition(0.4s 0.2s);
    }

    &.loading-leave-to,
    &.loading-enter {
        opacity: 0;
    }

    .zmiti-progress {
        color: #d1b17a;
        text-align: center;
        margin: 20px 0;
        font-family: Georgia;
        font-size: 40px;
        span{
            font-size:30px;
            margin-right: 40px;
        }
    }
}

.zmiti-loading-C{
    border:1px solid #d1b17a;
    padding: 4px;
    box-sizing: border-box;
}
.zmiti-loading-bar {
    /*  background-image:repeating-linear-gradient(-45deg, #14c3a2, #14c3a2 30px, #22e8c3 30px, #22e8c3 60px);
     background-size:600px 100%;
     @include animation(barberpole 12s linear infinite); */
    height: 40px;
    width: 100%;

    @include transformOrigin(left);

    background: #d1b17a;
    position: relative;

}

.zmiti-loading-bar.active:after,
.zmiti-loading-bar.active:before {
    opacity: 1;
}

.zmiti-loading-pig {
    padding-bottom: 10px;
    img {}
}